<p>Bine ati venit la Cinema WEBTASTIC!</p>
<p>Pe pagina noastra va puteti rezerva bilete la cele mai noi filme ce se ruleaza la sala de cinema WEBTASTIC situata in MegaMall Iasi</p>
<img src="cinema1.webp" alt="cinema1" class="IMGAcasa">
<img src="cinema2.webp" alt="cinema2" class="IMGAcasa">
<img src="popcorn.jpg" alt="popcorn" class="IMGAcasa">
<h5>Contact</h5>
<p>e-mail:cinemawebtastic@yahoo.com</p>
<p>telefon: 0724636298 (07CINEMAWT)</p>