<% for(var i = 0;i < lista.length;++i){ %>
    <p><a onclick="submitFormFilm('<%=lista[i].titlu %>')"> <%= lista[i].titlu %> </a></p>
<% } %>
<form action="/filme.html" method="post" id = "FilmeForm"> 
    <select id="filme" name="Filme" hidden>
        <% for(var i = 0;i < lista.length;++i){ %>
            <option value="<%= lista[i].titlu %>"><%= lista[i].titlu %></option>
        <% } %>
    </select>
</form>
